.animation {
    display: inline-block;
    position: relative;
    width: 30px;
    height: 30px;
  }
.animation span {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(.5, 0, .5, 1) infinite;
    border-color: #6b6b6b transparent transparent transparent;
}
body.night-mode .animation span {
    border-color: #a5a5a5 transparent transparent transparent;
}
.animation span:nth-child(1) {
    animation-delay: -0.45s;
}
.animation span:nth-child(2) {
    animation-delay: -0.3s;
}
.animation span:nth-child(3) {
    animation-delay: -0.15s;
}
@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes modal-background-add {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes modal-background-remove {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes modal-block-add {
    0% {
        transform: translateX(calc(100% - 300px));
    }
    100% {
        transform: translateX(0%);
    }
}
@keyframes modal-block-remove {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(100%);
    }
}
@keyframes modal-block-back {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(calc(100% - 300px));
    }   
}
@keyframes info-block-add {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
@keyframes main-block-add {
    0% {
        opacity: 0;
        transform: translateX(-30px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}
@keyframes main-block-add-rew {
    0% {
        opacity: 0;
        transform: translateX(-30px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}
@keyframes header-scroll-animation {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}
@keyframes select-menu-add {
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
@keyframes select-menu-remove {
    0% {
        opacity: 1;
        transform: translateY(0px);
    }
    100% {
        opacity: 0;
        transform: translateY(-30px);
    }
}
