.animation {
    display: inline-block;
    position: relative;
    width: 30px;
    height: 30px;
  }
.animation span {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(.5, 0, .5, 1) infinite;
    border-color: #6b6b6b transparent transparent transparent;
}
body.night-mode .animation span {
    border-color: #a5a5a5 transparent transparent transparent;
}
.animation span:nth-child(1) {
    animation-delay: -0.45s;
}
.animation span:nth-child(2) {
    animation-delay: -0.3s;
}
.animation span:nth-child(3) {
    animation-delay: -0.15s;
}
@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes modal-background-add {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.favorite-towns-add-towns.loading .favorite-towns-add-towns__button span {
    top: calc(50% - 3px);
    width: 7px;
    height: 7px;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.favorite-towns-add-towns.loading .favorite-towns-add-towns__button span:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}
.favorite-towns-add-towns.loading .favorite-towns-add-towns__button span:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}
.favorite-towns-add-towns.loading .favorite-towns-add-towns__button span:nth-child(3) {
    left: 20px;
    animation: lds-ellipsis2 0.6s infinite;
}
.favorite-towns-add-towns.loading .favorite-towns-add-towns__button span:nth-child(4) {
    left: 32px;
    animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(11px, 0);
    }
}
@keyframes modal-background-remove {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes modal-block-add {
    0% {
        transform: translateX(calc(100% - 300px));
    }
    100% {
        transform: translateX(0%);
    }
}
@keyframes modal-block-remove {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(100%);
    }
}
@keyframes modal-block-back {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(calc(100% - 300px));
    }   
}
@keyframes info-block-add {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
@keyframes main-block-add {
    0% {
        opacity: 0;
        transform: translateX(-30px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}
@keyframes main-block-add-rew {
    0% {
        opacity: 0;
        transform: translateX(-30px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}
@keyframes header-scroll-animation {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}
@keyframes select-menu-add {
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
@keyframes select-menu-remove {
    0% {
        opacity: 1;
        transform: translateY(0px);
    }
    100% {
        opacity: 0;
        transform: translateY(-30px);
    }
}
@keyframes top-animation {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}
@keyframes back-animation {
    0% {
        opacity: 1;
        transform: translateY(0%);
    }
    100% {
        opacity: 0;
        transform: translateY(-100%);
    }
}
@keyframes favorite-town-add {
    0% {
        opacity: 0;
        transform: translateY(15px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
@keyframes favorite-towns-no-towns-add {
    0% {
        opacity: 0;
        transform: translateX(-30px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes favorite-towns-no-towns-remove {
    0% {
        opacity: 1;
        transform: translateX(0px);
    }
    100% {
        opacity: 0;
        transform: translateX(-30px);
    }
}
@keyframes modal-menu-top {
    0% {
        opacity: 0;
        transform: translateY(-25px) scale(.7);
    }
    100% {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}
@keyframes modal-menu-bottom {
    0% {
        opacity: 0;
        transform: translateY(25px) scale(.7);
    }
    100% {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}
@keyframes modal-menu-remove-top {
    0% {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
    100% {
        opacity: 0;
        transform: translateY(-25px) scale(.7);
    }
}
@keyframes modal-menu-remove-bottom {
    0% {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
    100% {
        opacity: 0;
        transform: translateY(25px) scale(.7);
    }
}