.main-menu-remove {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    z-index: 10;
    opacity: 1;
    background: var(--bg-color-11);
    transition: .2s ease;
}
.main-menu-remove.menu-disactive {
    opacity: 0;
    pointer-events: none;
}
.page-blur {
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 101;
    animation: modal-background-add .3s;
    background: var(--bg-color-11);
}
.main-disactive {
    transform: translateX(-300px);
}
.main-disactive-menu-acitve {
    transform: translateX(-500px);
}
.page-modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100vw;
    height: 100vh;
    padding: 30px 20px;
    z-index: 200;
    box-sizing: border-box;
}
.page-modal.remove-animation {
    animation: modal-background-remove .3s;
}
.page-modal-block {
    position: fixed;
    left: calc(100% - 500px);
    display: grid;
    grid-template-rows: min-content calc(100% - 53px);
    grid-gap: 15px;
    max-width: 500px;
    height: 100vh;
    width: 100%;
    padding: 18px 12px 12px 12px;
    box-shadow: 0px 0px 18px #00000021;
    background: var(--bg-color-1);
    animation: modal-block-add .3s ease;
    transition: .2s ease;
    box-sizing: border-box;
    z-index: 200;
}
.page-modal-block.remove-animation {
    animation: modal-block-remove .3s;
}
.page-modal-block.back-main-animation {
    animation: modal-block-back .3s;
}
.page-modal-settings__label--conteiner,
.page-modal-favorite-towns__label--conteiner,
.page-modal-latest-towns__label--conteiner {
    justify-content: left;
    font-family: "Sourse Sans Pro", sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: var(--text-color-1);
}
.page-modal-settings__label,
.page-modal-favorite-towns__label,
.page-modal-latest-towns__label {
    font-size: 27px;
    margin: 0 0 0 45px;
    white-space: nowrap;
    max-width: calc(100% - 24px);
}
.modal-close-button {
    position: relative;
    top: 1px;
    width: 40px;
    height: 40px;
    padding: 0;
    margin: 0;
    border: 1px solid #00000000;
    border-radius: 50%;
    outline: none;
    background: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-image: var(--close-icon-path);
    transition: .2s ease;
}
.page-modal-settings__close-button:hover,
.page-modal-settings__close-button:focus,
.page-modal-favorite-towns__close-button:hover,
.page-modal-favorite-towns__close-button:focus,
.page-modal-latest-towns__close-button:hover,
.page-modal-latest-towns__close-button:focus {
    cursor: pointer;
    background-color: var(--bg-color-12);
    border: 1px solid var(--border-color-1);
}
.page-modal-settings-content {
    max-height: 100%;
}
.page-modal-settings-content__settings-menu {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 15px;
    background: #f4f4f474;
    border: 2px solid #e8e8e862;
    overflow-y: visible;
    overflow-x: hidden;
}
.page-modal-settings-content__settings-menu::-webkit-scrollbar {
    width: 5px;
    background: none;
}
.page-modal-settings-content__settings-menu::-webkit-scrollbar-thumb {
    background: #e7e7e7;
    border-radius: 10px;
}
.settings-content-button {
    padding: 8px;
    border: none;
    border-radius: 15px;
    font-family: "Sourse Sans Pro", sans-serif;
    text-align: left;
    font-weight: 600;
    font-size: 18px;
    background: none;
    color: var(--text-color-1);
    transition: .2s ease;
}
.settings-content-button:hover,
.settings-content-button:focus,
.settings-button:hover,
.settings-button:focus  {
    cursor: pointer;
    background: var(--bg-color-12);
}
.settings-content-button:active {
    transform: scale(.95);
}
.page-modal-settings-content {
    overflow-y: visible;
    overflow-x: hidden;  
}
.page-modal-settings-content::-webkit-scrollbar {
    width: 8px;
}
.page-modal-settings-content::-webkit-scrollbar-thumb {
    background: #d3d3d3c4;
    border-radius: 10px;
}
.page-modal-settings-content::-webkit-scrollbar-thumb:hover {
    background: #a3a3a39a;
}
.page-modal-settings-content__settings {
    display: flex;
    flex-direction: column;
    row-gap: 20px;  
}
.settins-content-block {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: "Sourse Sans Pro";
}
.settins-content-block__label {
    margin: 0;
    font-size: 22px;
    color: var(--text-color-1);
    padding: 0 0 0 10px;
}
.settins-content-block__elements {
    display: flex;
    flex-direction: column;
}
.settings-button {
    display: grid;
    grid-template-columns: 0px 1fr 50px;
    align-items: center;
    padding: 10px;
    border: none;
    border-radius: 15px;
    text-align: left;
    font-size: 17px;
    background: none;
    transition: .2s ease;
}
.settings-scrollbar {
    position: absolute;
    top: 0;
    left: calc(100% - 5px);
    width: 5px;
    height: 100%;
    z-index: 200;
}
.page-modal-settings-content {
    position: relative;
}
.swiper-scrollbar-drag {
    background: #e7e7e7;
    border-radius: 10px;
}
.settings-button__checkbox {
    display: block;
    z-index: -1;
    opacity: 0;
    width: 0;
    height: 0;
}
.settings-button__label {
    margin: 0 20px 0 0;
    font-weight: 500;
    font-size: 18px;
    color: var(--text-color-1);
}
.settings-button__triger {
    position: relative; 
    width: 42px;
    height: 22px;
    border-radius: 20px;
    background: #d3d3d3a4;
    transition: .2s ease;
}
.settings-button__triger::before {
    position: absolute;
    top: 5px;
    left: 5px;
    content: "";
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: var(--bg-color-1);
    transition: .2s ease;
}
.settings-button__checkbox:checked ~ .settings-button__triger {
    background: #889eff;
}
.settings-button__checkbox:checked ~ .settings-button__triger::before {
    transform: translateX(21px);
}
.settings-button:active .settings-button__triger::before {
    transform: scale(1.2);
    box-shadow: 0px 0px 4px #00000041;
}
.settings-button:active .settings-button__checkbox:checked ~ .settings-button__triger::before {
    transform: translateX(21px) scale(1.2);
    box-shadow: 0px 0px 4px #00000041;
}
.settings-select {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
}
.settings-select_label {
    font-size: 17px;
    font-weight: 500;
    color: var(--text-color-1);
}
.select {
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: 0px 0px 6px #0000001c;
    background: var(--bg-color-3);
    transition: .2s ease;
}
.select__button {
    padding: 10px 15px;
    margin: 0 20px 0 0;
    border: none;
    font-family: "Sourse Sans Pro", sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-align: left;
    background: none;
    color: var(--text-color-1);
    transition: .2s ease;
}
.select__button::after {
    position: absolute;
    left: calc(100% - 33px);
    top: calc(50% - 13px);
    content: "";
    width: 26px;
    height: 26px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: var(--right-arrow-select-path);
    transition: .2s ease;
    pointer-events: none;
}
.select__button.active::after {
    transform: rotate(90deg);
}
.select:hover,
.select:focus {
    cursor: pointer;
    box-shadow: 0px 0px 14px #0000001f;
}
.select__button:hover {
    cursor: pointer;
}
.select__menu {
    display: none;
    position: absolute;
    top: calc(100% + 15px);
    min-width: 100%;
    width: max-content;
    max-height: 200px;
    left: 0;
    flex-direction: column;
    border-radius: 15px;
    padding: 8px;
    box-shadow: 0px 0px 8px #0000001c;
    background: var(--bg-color-3);
    overflow-x: hidden;
    overflow-y: visible;
    transition: .2s ease;
    box-sizing: border-box;
    z-index: 5;
}
.select__menu::-webkit-scrollbar {
    width: 5px;
    background: none;
}
.select__menu::-webkit-scrollbar-thumb {
    background: #e7e7e7;
    border-radius: 10px;
}
.select__option {
    padding: 10px;
    border: none;
    border-radius: 15px;
    outline: none;
    font-family: "Sourse Sans Pro", sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-align: left;
    background: var(--bg-color-3);
    color: var(--text-color-1);
    transition: .2s ease;
}
.select__option:hover,
.select__option:focus {
    cursor: pointer;
    background: var(--bg-color-12);
}
.select__option:active {
    transform: scale(.97);
}
.select__button ~ .select__menu {
    display: flex;
    transform: translateY(-30px);
    opacity: 0;
    pointer-events: none;
}
.select__button.active ~ .select__menu {
    display: flex;
    transform: translateY(0px);
    opacity: 1;
    pointer-events: all;
}
