.main-menu-remove {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    z-index: 10;
    opacity: 1;
    background: #ffffff77;
    transition: .2s ease;
}
.main-menu-remove.menu-disactive {
    opacity: 0;
    pointer-events: none;
}
.page-blur {
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 101;
    animation: modal-background-add .3s;
    background: #ffffff77;
}
.main-disactive {
    transform: translateX(-300px);
}
.main-disactive-menu-acitve {
    transform: translateX(-500px);
}
.page-modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100vw;
    height: 100vh;
    padding: 30px 20px;
    z-index: 200;
    box-sizing: border-box;
}
.page-modal.remove-animation {
    animation: modal-background-remove .3s;
}
.page-modal-block {
    position: fixed;
    left: calc(100% - 500px);
    display: grid;
    grid-template-rows: min-content calc(100% - 53px);
    grid-gap: 15px;
    max-width: 500px;
    height: 100vh;
    width: 100%;
    padding: 18px 12px 12px 12px;
    box-shadow: 0px 0px 18px #00000021;
    background: #ffffff;
    animation: modal-block-add .3s ease;
    transition: .2s ease;
    box-sizing: border-box;
    z-index: 200;
}
.page-modal-block.remove-animation {
    animation: modal-block-remove .3s;
}
.page-modal-settings__label--conteiner,
.page-modal-favorite-towns__label--conteiner,
.page-modal-latest-towns__label--conteiner {
    justify-content: left;
    font-family: "Sourse Sans Pro", sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.686);
}
.page-modal-settings__label,
.page-modal-favorite-towns__label,
.page-modal-latest-towns__label {
    font-size: 27px;
    margin: 0 0 0 45px;
    white-space: nowrap;
    max-width: calc(100% - 24px);
}
.modal-close-button {
    position: relative;
    top: 1px;
    width: 40px;
    height: 40px;
    padding: 0;
    margin: 0;
    border: 1px solid #00000000;
    border-radius: 50%;
    outline: none;
    background: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-image: url("../icons/close-icon.svg");
    transition: .2s ease;
}
.page-modal-settings__close-button:hover,
.page-modal-settings__close-button:focus,
.page-modal-favorite-towns__close-button:hover,
.page-modal-favorite-towns__close-button:focus,
.page-modal-latest-towns__close-button:hover,
.page-modal-latest-towns__close-button:focus {
    cursor: pointer;
    background-color: #00000011;
    border: 1px solid #0000000a;
}
.page-modal-settings-content {
    max-height: 100%;
}
.page-modal-settings-content__settings-menu {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 15px;
    background: #f4f4f474;
    border: 2px solid #e8e8e862;
    overflow-y: visible;
    overflow-x: hidden;
}
.page-modal-settings-content__settings-menu::-webkit-scrollbar {
    width: 5px;
    background: none;
}
.page-modal-settings-content__settings-menu::-webkit-scrollbar-thumb {
    background: #e7e7e7;
    border-radius: 10px;
}
.settings-content-button {
    padding: 8px;
    border: none;
    border-radius: 15px;
    font-family: "Sourse Sans Pro", sans-serif;
    text-align: left;
    font-weight: 600;
    font-size: 18px;
    background: none;
    color: #000000af;
    transition: .2s ease;
}
.settings-content-button:hover,
.settings-content-button:focus,
.settings-button:hover,
.settings-button:focus  {
    cursor: pointer;
    background: #44444414;
}
.settings-content-button:active {
    transform: scale(.95);
}
.page-modal-settings-content__settings {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    overflow-y: visible;
    overflow-x: hidden;
}
.swiper-settings {
    overflow-y: visible;
    overflow-x: hidden; 
}
 .swiper-settings::-webkit-scrollbar {
    display: none;
}
.settins-content-block {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: "Sourse Sans Pro";
}
.settins-content-block__label {
    margin: 0;
    font-size: 22px;
    color: #000000af;
    padding: 0 0 0 10px;
}
.settins-content-block__elements {
    display: flex;
    flex-direction: column;
}
.settings-button {
    display: grid;
    grid-template-columns: 0px 1fr 50px;
    align-items: center;
    padding: 10px;
    border: none;
    border-radius: 15px;
    text-align: left;
    font-size: 17px;
    background: none;
    transition: .2s ease;
}
.settings-scrollbar {
    position: absolute;
    top: 0;
    left: calc(100% - 5px);
    width: 5px;
    height: 100%;
    z-index: 200;
}
.page-modal-settings-content {
    position: relative;
}
.swiper-scrollbar-drag {
    background: #e7e7e7;
    border-radius: 10px;
}
.settings-button__checkbox {
    display: block;
    z-index: -1;
    opacity: 0;
    width: 0;
    height: 0;
}
.settings-button__label {
    margin: 0 20px 0 0;
    font-weight: 500;
    font-size: 18px;
}
.settings-button__triger {
    position: relative; 
    width: 38px;
    height: 14px;
    border-radius: 20px;
    background: #d3d3d3a4;
    transition: .2s ease;
}
.settings-button__triger::before {
    position: absolute;
    top: -3px;
    content: "";
    width: 21px;
    height: 21px;
    border-radius: 50%;
    background: rgb(170, 170, 170);
    transition: .2s ease;
}
.settings-button__checkbox:checked ~ .settings-button__triger {
    background: #748ae97e;
}
.settings-button__checkbox:checked ~ .settings-button__triger::before {
    transform: translateX(17px);
    background: #748ae9;
}
